/**
 * Prism fixes for Drupal.
 */
code .comment {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline;
  vertical-align: baseline;
}


pre.codeblock.nowrap-expand {
  overflow: hidden;
}

pre.codeblock.nowrap-expand:hover {
  overflow-x: visible;
}